.header {
	background: #f4f4f4;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2em;
}
.headerImage {
	max-width: 150px;
	display: block;
}
.header h1 {
	font-size: 2.5em;
}

.main {
	max-width: 960px;
	min-height: 60vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.footer {
	margin-top: 2em;
	text-align: center;
	color: #fff;
	background: #f76c6c;
	padding: 0.25em 0;
}
.newMemberForm {
	display: flex;
	gap: 1em;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.members {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.memberList {
	display: grid;
	grid-template-columns: auto auto auto;
}
.memberItem:nth-child(3n + 2) {
	border-left: 1px solid black;
	border-right: 1px solid black;
}
.memberItem {
	text-align: center;
}
