.header {
	background: #f4f4f4;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
}
.headerImage {
	max-width: 150px;
	display: block;
}
@media only screen and (min-width: 600px) {
	.header {
		gap: 3em;
	}
	.header h1 {
		font-size: 2.5em;
	}
}

.main {
	max-width: 960px;
	min-height: 65vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.footer {
	z-index: 2;
	position: fixed;
	text-align: center;
	color: #fff;
	background-color: #015871;
	padding: 0.25em 1em;
	top: calc(100vh - 135px);
	width: 100vw;
	height: 135px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.newMemberForm {
	display: flex;
	gap: 1em;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
}
.newMemberForm input {
	font-size: 16px;
}

.members {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-bottom: 160px;
}
.memberList {
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 10px;
}
.memberItem:nth-child(3n + 2) {
	border-left: 1px solid black;
	border-right: 1px solid black;
}
.memberItem {
	text-align: center;
}
